


// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: $sizeValue + px ;
}

@mixin line-height($lineheight: 1) {
	line-height: $lineheight + px ;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Width Height
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
// Overlay Box 
@mixin overlay($value,$value2:0.3) {
.overlay{
    background:$value;
    @include size(100% 100%);
    @include transition(all 1s ease);
    @include position(absolute, 0 0 null null);
    opacity: $value2;
}
}
@mixin alignbox($value,$value2){
float:$value;
	text-align:$value2;
	.glitches{
		float:$value2;
		margin-#{$value2}: -12%;
	}
	h2{
		margin-#{$value2}: -19.5%;
	}
	&:before{
		#{$value2}: 0;
		margin-#{$value2}: -10%;
	}
}
// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin float($value) {
	float: $value;
}


//  Vertical Align
@mixin vertical-align($align:relative, $top:50%) {
	position: $align;
	top: $top;
	@include transform(translateY(-50%));
}

//  Background Image
@mixin background ($folder:images, $img:file, $type:png, $repeat:no-repeat, $x:0, $y:0, $size:none) {
	background-image: url(../#{$folder}/#{$img}.#{$type});
	background-repeat: #{$repeat};
	background-position: #{$x} #{$y};

	@if $size != 'none' {
		background-size: $size;
	}
}

// Vendore Prefixo
@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}


// Gradient bg
@mixin linear-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(right, $from 0%,$to 100%);
	background: -o-linear-gradient(left, $from 0%,$to 100%);
	background: linear-gradient(to right, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

// Gradient bg
@mixin linear-gradient-bottom($from, $to) {
  background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, bottom top, top bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(bottom, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(to bottom, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

//  Multiple Neat Breakpoints
@mixin multiple-media($media...) {
	@each $query in $media {
		@include media($query) {
			@content
		}
	}
}
