
/* FONT
---------------------------------- */

$main-font: content-font;
$main-font-bolder: heading-bold;
$main-font-semibold: heading-semibold;
$main-font-midbold: heading-midbold;
$main-font-thin: heading-thin;

/* COLORS
---------------------------------- */

/* Primary Colors */

// Shades
$white: #ffffff;
$mailcolor: #4870f5;
$dark-blue: #3253c3;
$light-black:#333333;
$black: #000000;
$grey: #858585;
$light-grey : #5e5e5e;



/* CORE STRUCTURE 
---------------------------------- */
// Neat
$disable-warnings: true;
// _Padding
$main-padding: 20px;
$fat-padding: 35px;
$content-padding: 80px;


/* BASE SIZES 
---------------------------------- */

// _Mobile	
$facehugger: 0;
$xenomorph: 420px;
$mobile-only: 280px;
$optimus-prime: 576px;
$megatron: 660px;
$millenniumfalcon: 720px;
$voltron: 840px;

// _Desktop
$clover: 960px;
$gipsy-danger: 1000px;
$king-ghidorah: 1200px;
$kaiju: 1370px;
$godzilla: 1570px;
$godzilla2: 1500px;

// _Astronomical
$betelgeuse: 1740px;
$canis-majoris: 1920px;
$cygni: 2300px;
$scuti: 2500px;


/* BOURBON NEAT BREAKPOINTS 
---------------------------------- */
// _Astronomical
/*
	:: 2500px <    */
			$pinwheel: new-breakpoint(min-width $scuti); /*
	:: 2300px <    */
			$blackhole: new-breakpoint(min-width $cygni); /*
	:: 1920px < + 960px >    */
			$ursa-major: new-breakpoint(min-width $canis-majoris max-height $clover); /*
	:: 1920px <    */
			$andromeda: new-breakpoint(min-width $canis-majoris); /*
	:: 1740px < + 1110px <    */
			$milky-way: new-breakpoint(min-width $betelgeuse min-height $gipsy-danger+110px); /*
	:: 1600px >  */
			$milky-way-large: new-breakpoint(max-width 1600px); /*
	:: 1680px >  */
			$milky-way-large-new: new-breakpoint(max-width 1680px);  /*
 // _Desktop
 /* 
	:: 1570px >    */
		$desktop-xlg: new-breakpoint(max-width $godzilla); /*
	:: 1570px <    */
		$desktop-xlg-min: new-breakpoint(min-width $godzilla); /*
	:: 1570px < + 1020px <    */
		$desktop-xlg-wh: new-breakpoint(min-width $godzilla min-height $gipsy-danger+20px); /*
	:: 1370px <    */
		$desktop-lg: new-breakpoint(min-width $kaiju); /*
	:: 1370px >    */
		$desktop-lg-max: new-breakpoint(max-width $kaiju); /*
	:: 1440px >    */
		$desktop-lg-large: new-breakpoint(max-width $kaiju + 70); /*	
	:: 1370px < + 1280px <    */
		$desktop-lg-wh: new-breakpoint(max-width $kaiju min-width 1281px); /*
	:: 1260px > + 770px <    */
		$desktop-md-wh: new-breakpoint(max-width $king-ghidorah+60px min-height $megatron+110px); /*
	:: 1300px >    */
		$desktop-md-mid: new-breakpoint(max-width $king-ghidorah+100); /*
	:: 1200px >    */
		$desktop-md: new-breakpoint(max-width $king-ghidorah); /*
	:: 1100px >    */
		$desktop-mds: new-breakpoint(max-width $king-ghidorah - 100px); /*
	:: 1000px >    */
		$desktop-sm: new-breakpoint(max-width $gipsy-danger); /*
	:: 1050px >    */
		$desktop-sm-mid: new-breakpoint(max-width $gipsy-danger + 50); /*
	:: 1000px <    */
		$desktop-sm-min: new-breakpoint(min-width $gipsy-danger + 1px); /*
	:: 960px >    */
		$desktop-xsm: new-breakpoint(max-width $clover); /*
	:: 960px <    */
		$desktop-xsm-min: new-breakpoint(min-width $clover + 1px); /*
	:: 841px <    */
		$desktop-growing: new-breakpoint(min-width $voltron+1px);
 // _Mobile
 /*
	:: 840px >    */
		$mobile-lg: new-breakpoint(max-width $voltron); /*
	:: 690px >    */
		$short-sm-width: new-breakpoint(max-width $megatron+30px); /*
	:: 660px >    */
		$mobile-slg: new-breakpoint(max-width $megatron); /*
	:: 660px <    */
		$mobile-slg-min: new-breakpoint(min-width $megatron); /*
	:: 576px >    */
		$mobile-md: new-breakpoint(max-width $optimus-prime+24px); /*
	:: 576px <    */
		$mobile-md-min: new-breakpoint(min-width $optimus-prime); /*
	:: 450px >    */
		$mobile-smd: new-breakpoint(max-width $xenomorph+30px); /*
	:: 420px >    */
		$mobile-sm: new-breakpoint(max-width $xenomorph); /*
	:: 375px >    */
		$mobile-xsm: new-breakpoint(max-width $xenomorph - 45px);
 // _Short
 /*
	:: 1600px > 1200   */
		$short-xxlg22: new-breakpoint(max-width 1600px min-height $gipsy-danger+200px); /*
	:: 1110px >    */
		$short-xxlg: new-breakpoint(max-height $gipsy-danger+110px); /*
	::1200px >    */
		$short-xxxlg: new-breakpoint(max-height $king-ghidorah); /*
	::1200px <    */
		$short-xxxlg-min: new-breakpoint(min-height $king-ghidorah); /*
	:: 1024px >    */
		$short-xlg: new-breakpoint(min-height $gipsy-danger+24px); /*
	:: 900px >    */
		$short-lg: new-breakpoint(min-height $voltron+60px); /*
	:: 900px >    */
		$short-lg-max: new-breakpoint(max-height $voltron+60px); /*
	:: 820px >    */
		$short-md: new-breakpoint(max-height $voltron - 20px); /*
	:: 800px >    */
		$short-md-min: new-breakpoint(min-height $voltron - 40px); /*
	:: 690px >    */
		$short-sm: new-breakpoint(max-height $megatron+30px); /*
	:: 600px >    */
		$short-xsm: new-breakpoint(max-height $megatron - 60px);

	// _landscape

	$landscape: new-breakpoint( orientation landscape max-height $megatron - 60px );