%Infinite{
	/* Globally hidden elements when Infinite Scroll is supported and in use. */
	.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
	.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
		display: none;
	}

	/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
	.infinity-end.neverending .site-footer {
		display: block;
	}

	#infscr-loading{
	    float: left;
	    width: 100%;
	    position: absolute;
	    bottom: 0px;
	    text-align: center;
	    padding: rem(20) rem(0);
	    font-size: 19px;
	    img{
	    	display:none;
	    }
	    .btn{
	    	font-size: rem(14);
			background:$light-black;;
			border-color:$light-black;;
	    }
	}
}