.error404 {
	#wrapper {
		@include size(100%);
		z-index: -1;
		@include position(absolute);
		background-color:$white;
		.cloudbox {
			position: absolute;
		    top: 10%;
		    left: 0;
		    overflow: hidden;
		    height: 228px;
		    width: 100%;
		    z-index: -1;
			.cloud-loop{
				@include background(images,strip,png, repeat);
				-moz-animation: MOVE-BG 50s infinite linear;
				-webkit-animation: MOVE-BG 50s infinite linear;
				animation: MOVE-BG 50s infinite linear;
				position: absolute;
			    right: -1600px;
			    left: 0;
			    bottom: 0;
			    top: 0;
			}
		}
		@include media($mobile-md){
			height: auto;			
			position: inherit;
		}
		.main {
			@include size(100%);
			display: table;
		}
		.pp-tableCell{
			@include media($desktop-md-mid){
				display: table;
				width: 100%;
			}
		}
		.pages{
			display: table-cell;
			vertical-align: middle;
			
		}
		.contentbox {
			@include outer-container($king-ghidorah);
			text-align: center;
			@include margin(0 null null null );
			@include media($desktop-lg-large){
				@include outer-container($gipsy-danger);
				@include margin( 159px null null null );
			}
			@include media($desktop-lg-max){
				@include outer-container($clover);
				@include margin( 150px null null null );
			}
			@include media($desktop-mds){
				@include outer-container($megatron);
				vertical-align: middle;
				margin-top: 0;
				display: table-cell;
			}
			@include media($desktop-md-mid){
				display: table-cell;
				vertical-align: middle;
			}
			@include media($short-xxlg22){
				padding: 0 10%;
				vertical-align: middle;
				margin-top: 0;
				display: table-cell;
			}
			@include media($mobile-slg){
				display: block;
				margin-top: 25%;
			}
			
			h1 {
				color: $mailcolor;
				@include font-size(55);
				text-align: left;
				font-weight: 600;
				@include media($milky-way-large){
					@include font-size(50);
					margin-left: 0;
				}
				@include media($desktop-mds){
					@include font-size(36);
					text-align: center;
				}
				@include media($desktop-lg-wh){
					@include font-size(36);
				}
				@include media($desktop-md-mid){
					@include font-size(36);
					text-align: center;
				}
				@include media($mobile-lg){
					@include font-size(45);
					padding: 0 10%;
				}
				@include media($mobile-slg){
					@include font-size(25);
				}
				@include media($mobile-xsm){
					@include font-size(23);
				}
			}
			a{	
				display: inline-block;
				margin-top: 20px;	
				@extend %btnsmall;
				@include media($mobile-lg){
					margin-top:10px;	
				}
				@include media($mobile-smd){
					font-size: 13px;
				}
			}
		}
	}
	&.pp-viewing-footer {
		footer {
			section{
				color:$white;
			}
			.footernav{
				a{
					color:$white;
				}
			}
		}
	}
}

