.contact_us {
	.about_content {
		@include outer-container($godzilla2);
		@include size(90%, null);
		@include padding(100px null 100px null);
		.heading{
			text-align: center;
			h3 {
				@include font-size(42);
				@include margin(null null 7px null);
			}
			h2 {
				@include margin(null null 67px null );
				@include font-size(59);
				color:$green;
				font-family: Gotham-Ultra;
			}
		}
		.image {
			float: left;
			@include padding(null 30px null null);
			img {

			}
		}
		.form {
			float: left;
			@include size(59%, null);
			@include padding(200px null null null);
		}
	}
}