%footer {
	@include background(images,footer,jpg, no-repeat,center, center);
	@include media($desktop-md-mid) {
		background-size: cover;
	}
	@include media($desktop-lg-wh) {
		background-size: cover;
	}
	.contentbox {
		@include outer-container($king-ghidorah);
		@include size(100%, 100%);
		@include margin( 0px null null null );
		@include media($mobile-md){
			@include size(100%, 100vh);
		}
		@include media($short-xxlg22){
			padding:0;
		}
		.copyright{
			vertical-align: middle;
			display: table-cell;
			@include media($mobile-md){
				padding: 0 9%;
			}
			h3{
				@include font-size(76);
				@include line-height(110);
				font-family:$main-font;
				font-weight: normal;
				letter-spacing: 0px;
				margin-bottom: 0;
				margin-top: rem(0);	
				color:$mailcolor;
				@include media($desktop-lg-max){
					@include font-size(50);
					@include line-height(50);
				}
				@include media($mobile-lg){
					@include font-size(32);
					@include line-height(23);
				
				}
				@include media($mobile-md){
					@include font-size(26);
					@include line-height(28);
				}
				@include media($mobile-smd){
					@include font-size(21);
					@include line-height(24);
				}
			}
			span{
				font-family:$main-font;
				font-weight: normal;
				margin-bottom: 0;
				@include font-size(30);
				margin-top: rem(18);
				@include media($desktop-lg-max){
					@include font-size(20);
					display:block;
				}
				@include media($mobile-lg){
					padding: 0 11%;
				}
				@include media($mobile-md){
					padding: 0 0%;
					font-size: 16px;
    				line-height: 21px;
				}
				@include media($mobile-smd){
					font-size: 13px;
				}
				@include media($mobile-xsm){
					margin-top: 4px;
				}
			}
			a{	
				display: inline-block;
				margin-top: rem(100);	
				@extend %btnsmall;
				@include media($mobile-lg){
					margin-top: rem(50);	
				}
				@include media($mobile-smd){
					font-size: 13px;
				}
			}
		}
	}	
}


footer {
	@include size(100%,auto);	
	@include position(absolute, $bottom: 40px);
	z-index: 6;
	
	@include media($desktop-md-mid){
		@include position(absolute, $bottom: 18px);
	}
	@include media($mobile-md){
		padding: 10px;
		
	}
	@include media($mobile-md){
		@include position(absolute, $bottom: 0);
		z-index: 1;
	}

	section {
		max-width: 964px;
		@include size(100%,auto);	
		color: #4870f5;
		margin: 0 auto;
		font-size: 13px;
		@include media($desktop-md-mid){
			@include outer-container($millenniumfalcon);
			text-align: center;
		}
		@include media($mobile-md){
			color: #fff;
			font-size: 11px;
		}
	}
	.copyright {
		float: left;
		@include media($desktop-md-mid){
			float: none;
		}
	}
	.footernav {
		float: right;
		@include media($desktop-md-mid){
			float: none;
			margin-top: 10px;
		}
	a {
		text-decoration: none;
		color: #4870f5;
		@include media($mobile-md){
			color:$white;
		}
        &:hover{
            color: #4870f5;
        }
	}
	span:last-child{
		display:none;
	}
	}
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

.chatus {
	position: absolute;
	right: 0;
	background: white;
	border-radius: 50px 0 0 50px;
	box-shadow: -7px 0px 6px #ccc;
	padding: 8px;
	line-height: 28px;
	font-size: 17px;
	margin-top: -19px;
	color: #333333;
	padding-right: 33px;
	transition-property: box-shadow;
	@include media($mobile-lg){
		margin-right: -9px;
		margin-top: -81px;
	}
	@include media($desktop-md-mid){
		margin-right: -9px;
		margin-top: -81px;
	}
	@include media($mobile-md){
		display:none;
	}
	&:hover {
		box-shadow: -7px 0px 6px #4870f5;
	}
	&:before {
		content: '';
		width: 27px;
		background: url(../images/chaticon.png) no-repeat;
		height: 28px;
		float: left;
		margin-top: -1px;
		margin-right: 6px;
	}
}


body {
	.rotate{
		display: none;
	}
}
body {
	.rotate{
		display: none;
		
			@include media($landscape){
				display: block;	
			}
		@include background(images,contact-us,jpg, no-repeat,center, center);
		background-color:$white;
		position: absolute;
	    z-index: 200;
	    top: 0;
    	right: 0;
    	@include position(absolute, $top:0, $left:0);
	    @include size(100%, 100%);
		.middle{
			display:table;
			.Rotate-icon{
				left: 0;
			    right: 0;
			    width: 127px;
			    height: 135px;
			    top: 50%;
			    margin: -67px auto auto auto;
			    position: absolute;
			    stroke:$mailcolor;
			}
		}
	}
}