footer{
	border-top:1px solid $lightgrey;
	@include padding(50px null null null);
	color:$lightgrey;
	font-family: $raleway-regular-webfont;
	@include size(25%, null);
    @include margin(70px auto 26px auto);
    text-align: center;
    display: table;    
}