input, select, textarea {
	text-shadow: none;
	outline: none;
}
.form {
	#{$all-text-inputs}, select {
		font-size: 19px;
		padding: 14px 18px;
		border: 2px solid $grey;
		color: $grey;
		border-radius: 8px;
	    margin-bottom: 29px;
	    width: 48%;
	    font-family: $raleway-regular-webfont;
	    font-weight: bold;
		@include padding(15px);
		margin-right: 2%;
		&:focus,&:placeholder {
			color:$grey;
		}
		&::-webkit-input-placeholder {
			color:$grey;
		}
		 
		&:-moz-placeholder { /* Firefox 18- */
			color:$grey;
		}
		 
		&::-moz-placeholder {  /* Firefox 19+ */
			color:$grey;
		}
		 
		&:-ms-input-placeholder {  
			color:$grey;
		}
	}

}






.wpcf7-not-valid-tip {
	display: none !important;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing,.div.wpcf7-mail-sent-ng {
	display: none !important;
}

.ajax-loader {
	display: none !important;
}
