%container {
	position: relative;
	z-index: 1;
	@include outer-container($clover);
	width: $kaiju - 40px;
	@include media($desktop-lg-max) {		
		display: block;
	}
	@include media($desktop-sm) {
		@include outer-container(90%);
		width: 90%;
		display: block;
	}
	
}