header{
	@include size(100%, null);
	@include position(relative);
	@include margin(13px null null null);
	float: left;
	.logo{
		@include size(21%, null);
		float: left;
		@include padding(21px 35px);
		@include position(absolute);
    	text-align: center;
		&:after {
			background:$grey;
			content: '';
			@include size(111%, 105px);
		    @include position(absolute, $top: -1px, $left: -7%);
		    @include transform(skew(-22deg));
		    z-index: 0;
		}
		&:before {
		    background:$white;
		    content: '';
		    @include transform(skew(-21deg));
		    @include size(19px, 100%);
		    @include position(absolute, $top:-1px, $right: -28px);
		    position: absolute;
		    z-index: 1;
		}
		img{
			z-index: 200;
			position: relative;
		}
	}
	.nav-right{
		@include size(100%, 82px);
		background: $mailcolor;
		float: left;
		@include margin(13px null 13px null);
		@include padding(20px 35px 20px 25%);
		font-family: $main-font-semibold;
		.selectboox{
			float: left;
			color: $white;
			@include font-size(19);
			margin-top: 3px;
			label {

			}
			select {
				border:0;
				border-bottom: 1px solid $white;
				background: none;
			    color:$white;
			    @include size(222px, null);
			    @include padding(6px 0px);
			    @include margin(null null null 6px);
			    option{
			    	color: $mailcolor;
			    	@include font-size(15);
			    }
			}
		}
		nav {
			float: right;
			ul{
				li {
					@include font-size(19);
					color:$white;
					list-style: none;
				    display: inline-block;
				    text-transform: uppercase;
				    @include padding(11px 31px);
				    border-right: 1px solid $white;
					a{
						color:$white;
					}
					&:last-child{
						padding-right: 0;
				    	border-right:0px;
					}
				}
			}
		}
	}
}